/*CSS for index.html on SecEthTools*/
*{
    background-color: black;
}

h1{
    color: darkolivegreen;
    font-family: 'Courier New', Courier, monospace;
}

a{
    color: darkolivegreen;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

li{
    color: darkolivegreen;
}